html{
    height: 100%;
}
body {
    height: 100%;
    background: $white-2;
    // background: red;
}

.inner {
    width: 960px;
    margin: 0 auto;
    padding: 25px 0 20px;
    clearfix();

    +mobile() {
        width: auto;
        margin-bottom: 50px;
        padding: 10px;
    }
}
.header-bkg{
    height: 300px;
    background-image: url('/images/bkg.jpeg');
    background-position: center 90%;
}

.header {
    height: 300px;
    margin-top: -300px;
    position: relative;
    background: rgba(141, 175, 170, 0.2);
    color:$white-3;
}

.content-outer {
    position: relative;
    margin-top: -168px;
    // &::before {
    // content: '';
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 150px;
    // background: #8c99e0;
    // }
}

// .part-bkg{
// height:100px;
// background: $blue;
// }
.card {
    background: #fff;
    margin-bottom: 30px;
    border: 0;
    border-radius: 0.1875rem;
    position: relative;
    width: 100%;
    box-shadow: none;
    padding: 20px;
    margin-bottom: 20px;

    .title {
        color: $gray-2;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
        /* text-decoration: underline; */
        /* border-bottom: 1px solid #ddd; */
        padding-bottom: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .fix {
        fix();
    }

    &.h120{
        min-height: 120px;
    }
    &.h340{
        min-height: 340px;
    }

    &.nobkg {
        background: transparent;
    }
}

.flex-container {
    // display: flex;
    overflow: hidden;
}

.flex-box {
    display: flex;
    overflow: hidden;
}

.flex {
    flex: 1;
}

.nopadding {
    padding: 0;
}

.left {
    // float: left;
    margin-right: 260px;
    // flex:1;
}

.right {
    float: right;
    width: 240px;
    // margin-left:20px;
    // flex: 0 0 240px;
}
