html {
    height: 100%;
}

body {
    height: 100%;
    background: $white-2;
    // background: red;
}

.inner {
    width: 1124px;
    margin: 0px auto;
    clearfix();

    +mobile() {
        width: auto;
        margin-bottom: 50px;
        padding: 10px;
    }
}

.header-bkg {
    height: 300px;
    background-image: url('/images/bkg.jpeg');
    background-position: center 90%;
}

.header {
    height: 300px;
    margin-top: -300px;
    position: relative;
    background: rgba(125, 125, 125, 0.43);
    color: $white-3;
}

.content-outer {
    position: relative;
    margin-top: -168px;
    // height: 100%;
    margin-bottom: 20px;
    min-height: -moz-calc(100% - 100px - 300px + 168px);
    min-height: -webkit-calc(100% - 100px - 300px + 168px);
    min-height: calc(100% - 100px - 300px + 168px);
}

.card {
    background: #fff;
    margin-bottom: 30px;
    border: 0;
    border-radius: 0.1875rem;
    position: relative;
    width: 100%;
    box-shadow: none;
    padding: 20px;
    margin-bottom: 20px;

    &.profile {
        .title {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin: 0 50px 10px;
        }
    }

    .title {
        color: $gray-2;
        font-size: 12px;
        font-weight: bold;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .fix {
        fix();
    }

    &.h120 {
        min-height: 120px;
    }

    &.h340 {
        min-height: 340px;
    }

    &.nobkg {
        background: transparent;
    }
}

.flex-container {
    // display: flex;
    overflow: hidden;
}

.flex-box {
    display: flex;
    overflow: hidden;
}

.flex {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}

.nopadding {
    padding: 0;
}

.left {
    // float: left;
    margin-right: 280px;
    // flex:1;
}

.right {
    float: right;
    width: 260px;
    // margin-left:20px;
    // flex: 0 0 240px;
}

.tal {
    text-align: left;
}

.cat-title {
    text-align: center;

    h1 {
        color: white;
        display: inline-block;
        border-bottom: 1px solid white;
    }
}
