// colors list 颜色列表
$white-3 = #fff;
$white-2 = #f4f6f9;
$white-1 = #f0f2f4;
$gray-1 = #eee;
$gray-2 = #aaa;
$gray-3 = #999;
$font-color = #2c3e50;
$black-1 = #444;
$black-2 = #333;
$black-3 = #111;
$red = #f76b6b;
$green = #a7cabe;
$blue-bright = #87daff;
$blue = #0684bd;
$blue-deep = #262a30;
$orange = #fc6423;
$pink = #fdcfd7;
$link = #849edc;

$theme-color = $green;
$font-color = #65686b;

$footer-height = 100px;
$margin-top = 168px;
$header-height = 300px;
