// colors list 颜色列表
$white-3   = #fff
$white-2 = #fafafa
$white-1   = #f0f0f0
$gray-1    = #eee
$gray-2    = #bbb
$gray-3    = #999
$black-1  = #444
$black-2    = #333
$black-3   = #111
$red          = #ff2a2a
$blue-bright  = #87daff
$blue         = #0684bd
$blue-deep    = #262a30
$orange       = #fc6423
