.recent-posts{
    padding-left: 10px;
    .post-list{
        // list-style: none;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
    .post-list-item{
        margin-bottom: 10px;
        &:hover{
            text-decoration: underline;
            }
     }

    }
}