.post-toc {
    font-size: 12px;
    color: $gray-3;
    position: absolute;
    top: 0px;
    width: 240px;

    ol {
        padding: 0 0 0 20px;
        margin: 0;
        list-style: none;
        counter-reset: a;
    }

    li:before {
        counter-increment: a;
        content: counters(a, '.') '. ';
        margin-right: 5px;
    }

    .post-toc-content {
        .nav-text {
        }

        padding: 0 10px;

        ol {
            padding: 0;
        }

        .nav-child {
            padding-left: 12px;
            // height: 0px;
            // overflow: hidden;
            display: none;

            &.open {
                display: block;
                // height:200px;
            }
        }

        .nav-item {
            margin: 4px 0;

            a {
                // text-overflow: ellipsis;
                // white-space: nowrap;
                // overflow: hidden;
                // width: 100%;
                // display: block;
            }
        }

        .active {
            color: $black-2;
        }
    }
}
