.archive {
    ul, ol {
        list-style: none;
    }

    li {
        margin: 0;
        font-size: 14px;
    }

    .tags {
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .categories {
    }

    .timeline {
        margin-top: 20px;
    }

    .archive-list {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 3px;
            background: $gray-1;
            left: 120px;
            margin-left: -6px;
        }

        .archive-list-item {
            margin-left: 20px;
            position: relative;
            font-size: 16px;
            margin-bottom: 40px;

            .arrow {
            }

            .archive-list-link {
                color: $link;

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: ' ';
                    width: 10px;
                    height: 10px;
                    left: 90px;
                    position: absolute;
                    background: $white-3;
                    border-radius: 50%;
                    border: 2px solid $gray-2;
                    top: 5px;
                }
            }

            .archive-list-count {
                margin-left: 60px;
                background: $gray-1;
                padding: 10px;
                font-size: 14px;
                position: relative;
                border-radius: 5px;

                &::before {
                    right: 100%;
                    position: absolute;
                    border: solid transparent;
                    display: inline-block;
                    height: 0;
                    width: 0;
                    content: ' ';
                    pointer-events: none;
                    border-right-color: $gray-1;
                    border-width: 10px;
                }

                &::before::before {
                    content: '本月写了：';
                }

                &::after {
                    content: '篇文章';
                }
            }
        }
    }

    .category-list-item, .tag-list-item {
        display: inline-block;
        padding: 5px 10px;
        font-size: 12px;
        margin: 0 10px 10px 0;
        border-radius: 5px;
        background: #bae4f7;
        color: $black-2;
    }

    .category-list-item {
        background: $pink;
    }
}