.archive {
    ul, ol {
        list-style: none;
    }

    li {
        margin: 0;
        font-size: 14px;
    }

    .tags {
        margin-left: 20px;
        margin-bottom: 0px;
        min-height: 150px;
        height 100%;
    }

    .categories {
        min-height: 150px;

        .category-list-item {
            font-size: 18px;
        }

        .category-list-link {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .archive-list {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 3px;
            background: $gray-1;
            left: 120px;
            margin-left: -6px;
        }

        .archive-list-item {
            margin-left: 20px;
            position: relative;
            font-size: 16px;
            margin-bottom: 40px;

            .arrow {
            }

            .archive-list-link {
                color: $link;

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: ' ';
                    width: 10px;
                    height: 10px;
                    left: 90px;
                    position: absolute;
                    background: $white-3;
                    border-radius: 50%;
                    border: 2px solid $gray-2;
                    top: 5px;
                }
            }

            .archive-list-count {
                margin-left: 60px;
                background: $gray-1;
                padding: 10px 20px 10px;
                font-size: 14px;
                position: relative;
                border-radius: 5px;
                color: $gray-3;

                &::before {
                    right: 100%;
                    position: absolute;
                    border: solid transparent;
                    display: inline-block;
                    height: 0;
                    width: 0;
                    content: ' ';
                    pointer-events: none;
                    border-right-color: $gray-1;
                    border-width: 10px;
                }

                &::after {
                    content: '篇文章';
                }
            }
        }
    }
}