.breadcrumb {
    margin-bottom: 20px;
        color: $white-3;
        font-size: 0px;
    li {
        display: inline-block;
        font-size: 14px;
    }
    i {
        font-size: 14px;
    }

    .nav {
        font-size: 27px;
        font-family: 'Paytone One', sans-serif;
    }
}