// Header
// --------------------------------------------------
.site-meta {
    float: left;
    line-height: normal;

    +mobile() {
        margin-left: 10px;
    }

    .brand {
        padding: 2px 1px;
        background: none;

        +mobile() {
            display: block;
        }
    }

    .logo {
        display: none;
    }

    .site-title {
        font-size: 46px;
        font-weight: bold;
        font-family: 'Paytone One', sans-serif;
        text-shadow: 2px 5px #929292;

        +mobile() {
            line-height: 34px;
        }
    }

    .custom-logo-image {
        height: 60px;
    }

    .site-subtitle {
        font-size: 13px;
        color: #eaeaea;
        float: right;
    }
}

.menu-inner {
    float: right;
    font-size: 14px;
    color: $white-2;
    margin-top: 50px;
    text-shadow: 1px 1px 3px #afafaf;

    .menu-item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    .category-menu {
        position: relative;
        display: inline-block;
        cursor pointer;

        &:focus {
        }

        .triangle {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            position: absolute;
            top: -10px;
            right: 10px;
        }

        .category-panel {
            &.show {
                visibility: visible;
            }

            box-shadow: 4px 1px 15px 2px #aaa;
            position: absolute;
            z-index: 1000;
            background: white;
            padding: 0;
            top: 30px;
            right: 0;
            border-radius: 4px;
            visibility: hidden;

            .category-list {
                margin: 0;

                .category-list-item {
                    white-space: nowrap;
                    border-bottom: 1px solid #ddd;

                    &:hover {
                        background: $theme-color;

                        a {
                            color: white;
                        }
                    }

                    a {
                        color: $gray-2;
                        text-shadow: none;
                        padding: 6px 20px;
                        background: transparent;
                        text-decoration: none;
                        display: block;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.logo-line-before, .logo-line-after {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 75%;

    +mobile() {
        display: none;
    }

    i {
        position: relative;
        display: block;
        height: 2px;
        background: $black-deep;

        +mobile() {
            height: 3px;
        }
    }
}

.use-motion {
    .logo-line-before i {
        left: -100%;
    }

    .logo-line-after i {
        right: -100%;
    }
}