.tag-list {
    & &-item {
        // tagitem(#7ec4e4);
        tagitem($green);
    }
}

.tag-archive {
    a {
        font-size: 19px;
        margin: 10px;
        // border: 1px solid $theme-color;
        color:$theme-color;
        padding: 10px;
        display: inline-block;
    }
}
